body {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(55, 105, 150, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  font-size: 4.5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #04dacf;
}

h3{
  font-size: 4rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #04dacf;
}

h4{
  font-size: 3rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #04dacf;
  margin: 0;
  position: relative;
}

.player{
    display: inline;
    position: relative;
    right: 3em;
    bottom: .5em;
}
.computer{
    display: inline;
    position: relative;
    left: 3em;
    bottom: .5em;
}


footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.r {
  background-image: url("/images/rock.png");
  background-repeat: no-repeat;
}

.p {
  background-image: url("/images/paper.png");
  background-repeat: no-repeat;
}
.s {
  background-image: url("/images/scissors.png");
  background-repeat: no-repeat;
}

.set {
  margin: -2 auto;
}

.hand {
  outline: none;
  border: 10px solid #404b69;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 40px;
  background-color: white;
}

@media (max-width: 1207px){
  body{
    background: #1F1D36;
    font-size: 2rem;

  }
  .hand{
    margin: 5px;
    width: 120px;
    height: 120px;
  }

  .player{
    display: block;
    position: relative;
    left: 1em;
    bottom: 3px;
    font-size: 40px;
  }
  .computer{
    display: block;
    position: relative;
    left: 1em;
    bottom: 1em;
    font-size: 40px;
  }
  footer{
    font-size: .5rem;
  }
}