body{
    text-align: center;
    background-color: #283149;
}

h1{
    font-size: 4.5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #04dacf;
}

footer{
    color: #DBEDF3;
    font-family: sans-serif;
}

.r{
    background-image: url("/images/rock.png");
    background-repeat: no-repeat;
}

.p{
    background-image: url("/images/paper.png");
    background-repeat: no-repeat;

}
.s{
    background-image: url("/images/scissors.png");
    background-repeat: no-repeat;

}

.set{
    margin: 10% auto;
}

.hand{
outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #04dacf;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 50px;
  background-color: white;
}