body {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(55, 105, 150, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  font-size: 4.5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #04dacf;
}

h3{
  font-size: 4.5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #04dacf;
}

h4{
  font-size: 3rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #04dacf;
  margin: 0;
  position: relative;
}

.player{
    display: inline;
    position: relative;
    right: 3em;
    bottom: .5em;
}
.computer{
    display: inline;
    position: relative;
    left: 3em;
    bottom: .5em;
}


footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.r {
  background-image: url("/images/rock.png");
  background-repeat: no-repeat;
}

.p {
  background-image: url("/images/paper.png");
  background-repeat: no-repeat;
}
.s {
  background-image: url("/images/scissors.png");
  background-repeat: no-repeat;
}

.set {
  margin: -2 auto;
}

.hand {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #04dacf;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 40px;
  background-color: white;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}